<h1> Welcome to the Lessons Page </h1>
<p> Please click on complete to complete lessons: </p>
<p> There are hundred lessons in total </p>

<table>
 <tr>
  <th>Lesson Title</th>
  <th>Action</th> 
</tr>
 <% @lessons.each do |lesson| %>
 <tr>	
  <td><%= lesson.title %>
  <td><%=link_to 'complete', lesson_path(lesson) %></td>
 </tr>
<% end %>

